<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Billeterie du musée du Louvre !{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            {# On charge le CSS de bootstrap depuis le site directement #}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        {% endblock %}
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-sm-12 hidden-xs">
                    <div class="centerMenu">
                        <ul id="menu" class="sticky">
                            <li><a href="{{ path('homepage') }}">Accueil</a></li>
                            <li><a href="{{ path('command') }}">Billetterie</a></li>
                            <li><a href="{{ path('contact') }}">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
                    <div class="centerMenu">
                        <div id="accordion" class="sticky">
                            <div class="half">
                                <div class="tab">
                                    <input id="tab-one" type="checkbox" name="tabs">
                                    <label for="tab-one">
                                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                                    </label>
                                    <div class="tab-content">
                                        <p>
                                            <a href="{{ path('homepage') }}">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="accordionLink">
                                                            Accueil
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </p>
                                        <p>
                                            <a href="{{ path('command') }}">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="accordionLink">
                                                            Billetterie
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </p>
                                        <p>
                                            <a href="{{ path('contact') }}">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="accordionLink">
                                                            Contact
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="marginTop">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>