{# app/Resources/views/command.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <br/>
    <br/>
    <h1 class="text-center">Réservation de billets</h1>
    <br/>

    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="well">
                {{ form_start(commandForm) }}
                <div class="row">
                    <div class="col-md-3">
                        {{  form_row(commandForm.fullDay) }}
                    </div>
                    <div class="col-md-9">
                        {{ form_row(commandForm.visitDate) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        {{ form_row(commandForm.numberOfTickets) }}
                    </div>
                    <div class="col-md-9">
                        {{ form_row(commandForm.visitorEmail) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="horizAlignCenter">
                            <input type="submit" value="Valider" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                {{ form_end(commandForm) }}
            </div>
        </div>
    </div>

{% endblock %}