{# app/Resources/views/tickets.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h3>Complétion des tickets</h3>

    <p>Récapitulatif : {{ recap }}</p>

    {{ dump(ticketFormCollection) }}

    <div class="well">
        {{ form_start(ticketFormCollection) }}
        {{ form_row(ticketFormCollection) }}
        <input type="submit" value="Valider" class="btn btn-default" />
        {{ form_end(ticketFormCollection) }}
    </div>

{% endblock %}