{# app/Resources/views/tickets.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h3>Complétion des tickets</h3>

    <p>Récapitulatif : {{ recap }}</p>

    {{ dump(ticketsCollection) }}
    {% if ticket|default %}
        {{ dump(command) }}
    {% endif %}

    <div class="well">
        {{ form_start(ticketsCollection) }}
        {{ form_row(ticketsCollection) }}
        <input type="submit" value="Valider" class="btn btn-default" />
        {{ form_end(ticketsCollection) }}
    </div>

{% endblock %}